## Session Sequential Data

In [1]:
import pandas as pd
# data_path = '../dataset/kuairand/KuaiRand-Pure/data/'
# data_save_path = data_path + 'log_session_4_08_to_5_08_pure.csv'
# df_rand = pd.read_csv(data_path + 'log_standard_4_08_to_4_21_pure.csv')
# df_rand_2 = pd.read_csv(data_path + 'log_standard_4_22_to_5_08_pure.csv')
# item_meta_path = data_path + "video_features_basic_pure"

data_path = '../dataset/kuairand/KuaiRand-1K/data/'
data_save_path = data_path + 'log_session_4_08_to_5_08_1k.csv'
df_rand = pd.read_csv(data_path + 'log_standard_4_08_to_4_21_1k.csv')
df_rand_2 = pd.read_csv(data_path + 'log_standard_4_22_to_5_08_1k.csv')
item_meta_path = data_path + "video_features_basic_1k"
user_meta_path = data_path + "user_features_1k"
df_rand = pd.concat([df_rand, df_rand_2], axis=0, ignore_index=True)
df_rand

,user_id,video_id,date,hourmin,time_ms,is_click,is_like,is_follow,is_comment,is_forward,is_hate,long_view,play_time_ms,duration_ms,profile_stay_time,comment_stay_time,is_profile_enter,is_rand,tab
0,0,4354972,20220409,900,1649467982289,0,0,0,0,0,0,0,0,70100,0,0,0,0,0
1,0,1329429,20220409,900,1649467982289,0,0,0,0,0,0,0,0,51422,0,0,0,0,0
2,0,346081,20220409,900,1649467982289,0,0,0,0,0,0,0,0,11696,0,0,0,0,0
3,0,2058916,20220409,900,1649467982289,0,0,0,0,0,0,0,0,66433,0,0,0,0,0
4,0,2528540,20220409,900,1649467982289,1,0,0,0,0,0,0,5332,11450,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11713040,999,2257964,20220508,2300,1652021025602,0,0,0,0,0,0,0,1061,11100,0,0,0,0,1
11713041,999,2922688,20220508,2300,1652021025602,1,0,0,0,0,0,1,157537,160560,0,0,1,0,1
11713042,999,890727,20220508,2300,1652021025602,0,0,0,0,0,0,0,1075,90600,0,0,0,0,1
11713043,999,4164425,20220508,2300,1652021025602,1,0,0,0,0,0,1,19240,112400,0,0,0,0,1
11713044,999,2351450,20220508,2300,1652021200418,1,0,0,0,0,0,0,10091,231900,0,0,0,0,1

In [2]:
from utils import run_multicore
filterred_df_rand = run_multicore(df_rand, user_key = "user_id", item_key = "video_id", 
                                  n_core = 20, auto_core = False, filter_rate = 0.2)

Filter 20-core data.

  0%|          | 51988/11713045 [00:00<00:22, 519851.99it/s]

n_core = 20
N-core is set to [5,100]
Filtering 20-core data
Iteration 1

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11713045/11713045 [00:20<00:00, 557851.64it/s]
  3%|â–Ž         | 87577/2597876 [00:00<00:02, 875747.87it/s]

Number of removed record: 9115169
Iteration 2

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2597876/2597876 [00:02<00:00, 979851.49it/s]
  8%|â–Š         | 195005/2597865 [00:00<00:02, 982180.06it/s]

Number of removed record: 11
Iteration 3

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2597865/2597865 [00:02<00:00, 1001966.15it/s]

Number of removed record: 0
Size change: 11713045 --> 2597865

In [3]:
users = list(df_rand['user_id'].unique())
items = list(df_rand['video_id'].unique())
print(len(users), len(items), len(df_rand))
df_rand = filterred_df_rand
users = list(df_rand['user_id'].unique())
items = list(df_rand['video_id'].unique())
print(len(users), len(items), len(df_rand))

1000 4369953 11713045
999 69219 2597865

In [4]:
from datetime import datetime as dt
date = [int(dt.fromtimestamp(tms//1000).strftime("%Y%m%d")) for tms in df_rand['time_ms'].values]
df_rand['date'] = date
df_rand = df_rand.sort_values(by = ['user_id', 'time_ms'])
df_rand

,user_id,video_id,date,hourmin,time_ms,is_click,is_like,is_follow,is_comment,is_forward,is_hate,long_view,play_time_ms,duration_ms,profile_stay_time,comment_stay_time,is_profile_enter,is_rand,tab
0,0,4354972,20220409,900,1649467982289,0,0,0,0,0,0,0,0,70100,0,0,0,0,0
1,0,2058916,20220409,900,1649467982289,0,0,0,0,0,0,0,0,66433,0,0,0,0,0
2,0,889528,20220409,1100,1649475132652,0,0,0,0,0,0,0,2683,20040,0,0,0,0,1
3,0,2650549,20220409,1100,1649475132652,0,0,0,0,0,0,0,1250,8333,0,0,0,0,1
4,0,1262357,20220409,1200,1649477382190,0,0,0,0,0,0,0,982,17750,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2597860,999,3983375,20220508,2200,1652018818496,1,0,0,0,0,0,0,1448,166800,0,0,0,0,1
2597861,999,2393235,20220508,2300,1652020457868,0,0,0,0,0,0,0,1547,15100,0,0,0,0,1
2597862,999,160672,20220508,2300,1652020617699,1,0,0,0,0,0,0,2359,287400,0,0,0,0,1
2597863,999,1009203,20220508,2300,1652020974013,0,0,0,0,0,0,0,992,121366,0,0,0,0,1
2597864,999,2879149,20220508,2300,1652021025602,1,0,0,0,0,0,0,14378,203661,0,0,0,0,1

In [5]:
# Build user history
from tqdm import tqdm
import numpy as np
# feedback_list = ['is_click', 'long_view', 'is_like', 'is_follow', 'is_comment', 'is_forward', 'is_hate']
position = np.zeros(len(df_rand), dtype = int)
session = np.zeros(len(df_rand), dtype = int)
return_day = np.zeros(len(df_rand), dtype = int)
for i,uid in tqdm(enumerate(users)):
    user_data = df_rand[df_rand['user_id'] == uid]
    dates = user_data['date'].unique()
    last_day = -1
    for sess_id,d in enumerate(dates):
        day_session = user_data[user_data['date'] == d]
        session[day_session.index] = sess_id
        position[day_session.index] = np.arange(len(day_session))
        return_day[day_session.index] = 0
        if sess_id < len(dates)-1:
            ret = (dt.strptime(str(dates[sess_id+1]), "%Y%m%d") - dt.strptime(str(d), "%Y%m%d")).days
            return_day[day_session.index[-1]] = ret
df_rand['position'] = position
df_rand['session'] = session
df_rand['return_day'] = return_day
df_rand

999it [00:13, 73.10it/s]

,user_id,video_id,date,hourmin,time_ms,is_click,is_like,is_follow,is_comment,is_forward,...,play_time_ms,duration_ms,profile_stay_time,comment_stay_time,is_profile_enter,is_rand,tab,position,session,return_day
0,0,4354972,20220409,900,1649467982289,0,0,0,0,0,...,0,70100,0,0,0,0,0,0,0,0
1,0,2058916,20220409,900,1649467982289,0,0,0,0,0,...,0,66433,0,0,0,0,0,1,0,0
2,0,889528,20220409,1100,1649475132652,0,0,0,0,0,...,2683,20040,0,0,0,0,1,2,0,0
3,0,2650549,20220409,1100,1649475132652,0,0,0,0,0,...,1250,8333,0,0,0,0,1,3,0,0
4,0,1262357,20220409,1200,1649477382190,0,0,0,0,0,...,982,17750,0,0,0,0,1,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2597860,999,3983375,20220508,2200,1652018818496,1,0,0,0,0,...,1448,166800,0,0,0,0,1,52,30,0
2597861,999,2393235,20220508,2300,1652020457868,0,0,0,0,0,...,1547,15100,0,0,0,0,1,53,30,0
2597862,999,160672,20220508,2300,1652020617699,1,0,0,0,0,...,2359,287400,0,0,0,0,1,54,30,0
2597863,999,1009203,20220508,2300,1652020974013,0,0,0,0,0,...,992,121366,0,0,0,0,1,55,30,0
2597864,999,2879149,20220508,2300,1652021025602,1,0,0,0,0,...,14378,203661,0,0,0,0,1,56,30,0

In [6]:
# df_rand.to_csv(data_path + 'log_session_4_08_to_5_08_1k.csv')
df_rand.to_csv(data_save_path, index = False)

## Item/User Meta Data

In [7]:
import pandas as pd
video_features_basic = pd.read_csv(item_meta_path + ".csv", sep = ',')
video_features_basic['tag'] = video_features_basic['tag'].fillna(0)
video_features_basic['music_type'] = video_features_basic['music_type'].fillna(0)
video_features_basic.to_csv(item_meta_path + "_fillna.csv", index = False)

In [8]:
import pandas as pd
user_features = pd.read_csv(user_meta_path + ".csv", sep = ',')
for k in [f'onehot_feat{fid}' for fid in [0,1,6,9,10,11,12,13,14,15,16,17]]:
    user_features[k] = user_features[k].fillna(-1)
user_features.to_csv(user_meta_path + "_fillna.csv", index = False)

In [2]:

video_features_basic = pd.read_csv(item_meta_path + ".csv", sep = ',')
video_features_basic

,video_id,author_id,video_type,upload_dt,upload_type,visible_status,video_duration,server_width,server_height,music_id,music_type,tag
0,0,7349781,NORMAL,2022-04-10,LongImport,0.0,87433.0,720.0,1280.0,9155697141,9.0,39
1,1,2103883,NORMAL,2022-04-10,Kmovie,0.0,218066.0,720.0,1280.0,6355810746,9.0,2
2,2,5067285,NORMAL,2022-04-09,ShortImport,0.0,9233.0,720.0,1280.0,6618412736,4.0,1
3,3,7048760,NORMAL,2022-04-11,Web,0.0,16433.0,720.0,1280.0,9161677205,9.0,7
4,4,8635271,NORMAL,2022-04-09,Web,0.0,38766.0,720.0,1280.0,9141092381,9.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...
4371863,4371895,8305358,NORMAL,2022-03-15,Kmovie,0.0,8800.0,720.0,1282.0,8848216108,9.0,8
4371864,4371896,96997,NORMAL,2022-04-12,ShortImport,0.0,NaN,811.0,1440.0,9093776693,9.0,8
4371865,4371897,8524481,NORMAL,2022-04-27,ShortImport,0.0,6800.0,720.0,1280.0,9348144487,9.0,8
4371866,4371898,1809096,NORMAL,2022-04-10,ShortImport,0.0,8680.0,720.0,1280.0,9156024258,9.0,6
4371867,4371899,2273228,NORMAL,2022-03-18,LongImport,0.0,21633.0,720.0,1600.0,8886083435,9.0,"62,27"